@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hero-background"></div>
<div class="hero-container">
    <div class="hero-content">
        <h1 class="display-4 fw-bold mb-4">Restaurant Manager</h1>
        <p class="lead mb-5">The complete solution for your restaurant.</p>
        
        <div class="d-flex justify-content-center gap-3">
            <a asp-page="/Login" class="btn btn-primary btn-lg px-5">Login</a>
        </div>
    </div>
</div>
